/* _______________ VARIABLES _______________ */
/* _______________ Global colors _______________ */
$hover: #d0ce43;
$header-color: #ffffff;
$header-bg: #3a4276;
$main-color: #273856;
$main-bg: linear-gradient(0deg, #3a4276 -30%, #79a0c8 100%);
$footer-color: #d22856;
$footer-background: #79a0c8;
/* _______________ Colors _______________ */
$pink: #D22856;
$blue: #283645;
